<div class="container">

  

  <div class="upper-data">
    <img src="https://images.unsplash.com/photo-1561647784-2f9c43b07a0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" *ngIf="14 > 15"/>
    <img src="https://images.unsplash.com/photo-1542483109-ee476dbcd93e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" *ngIf="14 <= 15"/>
    <p>Welcome Here.</p>
  </div>

  <div class="weather-data">
    
    <!-- <div class="location">Baltimore</div>
    <div class="temprature">{{ 14.40 | number: '1.0-0'}}</div> -->
  </div>
  <div class="lower-data">
<p>This Website is currently under maintenance.</p>
  </div>
<p class="portfolio"><a href="//afrocoder.netlify.app">BACK TO PORTFOLIO</a></p>
</div>
<footer>
  <p>Powered by Angular JS</p>
</footer>

<router-outlet></router-outlet>
